
bootstrap = {{ __consul_is_bootstrap | string | lower }}
server = {{ __consul_is_server | string | lower }}
datacenter = "{{ consul_datacenter_name }}"
data_dir = "{{ consul_data_path }}"
encrypt  = "{{ __consul_encrypt_key }}"

client_addr = "0.0.0.0"
bind_addr = "{{ consul_bind_address }}"

{% if consul_tls_enabled %}
tls = {
  defaults = {
    ca_file         = "{{ __consul_tls_ca_certificate_dir }}/{{ __consul_tls_ca_crt }}"
{% if __consul_is_server %}
    cert_file       = "{{ __consul_tls_dir }}/{{ __consul_tls_server_crt }}"
    key_file        = "{{ __consul_tls_dir }}/{{ __consul_tls_server_key }}"
{% endif %}
    verify_incoming = true
    verify_outgoing = true
  }
  internal_rpc {
    verify_server_hostname = true
  }
  grpc {
    use_auto_cert = true
  }
}
{% endif %}

{% if consul_acl_enabled %}
acl = {
  enabled = true
  default_policy = "{{ consul_acl_default_policy }}"
  enable_token_persistence = {{ consul_acl_token_persistence_enabled | lower }}

  tokens {
    default = "{{ consul_acl_auto_encrypt_token }}"
  }
}
{% endif %}

addresses {
  dns   = "127.0.0.1"
  grpc  = "0.0.0.0"
  https = "0.0.0.0"
}

{% if __consul_is_server %}
auto_encrypt = {
  allow_tls = true
}
{% else %}
enable_central_service_config = true
auto_encrypt = {
  tls = true
}
enable_local_script_checks = true
{% endif %}

{% if consul_connect_enabled %}
connect {
  enabled     = true
  ca_provider = "vault"

  ca_config {
    address = "{{ consul_vault_address }}"
    token = "{{ consul_connect_token }}"
    ca_file = "{{ __consul_tls_ca_certificate_dir }}/{{ __consul_tls_ca_crt }}"
    cert_file = "{{ __consul_tls_dir }}/{{ __consul_tls_server_crt }}"
    key_file = "{{ __consul_tls_dir }}/{{ __consul_tls_server_key }}"
    insecure = true
    root_pki_path = "{{ consul_connect_root_pki_path }}"
    intermediate_pki_path = "{{ consul_connect_intermediate_pki_path }}"
    leaf_cert_ttl = "72h"
    rotation_period = "2160h"
    intermediate_cert_ttl = "8760h"
    private_key_type = "rsa"
    private_key_bits = 2048
  }
}
{% endif %}

{% if consul_ui_enabled %}
ui_config {
  enabled = true
}
{% endif %}

{% if __consul_is_server %}
retry_join = {{ __consul_bootstrap_list | to_json }}
{% else %}
retry_join = {{ __consul_server_list | to_json }}
{% endif %}

performance {
  raft_multiplier = 1
}

ports {
  http     = -1
  https    = {{ consul_api_port }}
  grpc     = {{ consul_grpc_port }}
  grpc_tls = {{ consul_grpc_tls_port }}
  dns      = 8600
}

{% if consul_prometheus_enabled %}
telemetry {
  disable_hostname = true
  prometheus_retention_time = "30s"
}
{% endif %}
