[hashistack:children]
hashistack_sre
hashistack_cluster

[hashistack_cluster:children]
bootstrap_servers
consul_servers
nomad_servers
vault_servers
client_servers
observability_servers

[hashistack_sre:children]
sre_server

[consul_bootstrap_instances:children]
bootstrap_servers

[consul_server_instances:children]
consul_servers
nomad_servers

[consul_client_instances:children]
vault_servers
client_servers
observability_servers

[sre_server]
{{ sre_server.host_name }} public_ip={{ sre_server.host }} private_ip={{ sre_server.private_ip }}

[bootstrap_servers]
{% for server in bootstrap_servers %}
{{ server.host_name }} public_ip={{ server.host }} private_ip={{ server.private_ip }} volumes='[]'

{% endfor %}

[consul_servers]
{% for server in consul_servers %}
{{ server.host_name }} public_ip={{ server.host }} private_ip={{ server.private_ip }} volumes='{{ server.volumes | to_json }}'

{% endfor %}

[nomad_servers]
{% for server in nomad_servers %}
{{ server.host_name }} public_ip={{ server.host }} private_ip={{ server.private_ip }} volumes='{{ server.volumes | to_json }}'

{% endfor %}

[vault_servers]
{% for server in vault_servers %}
{{ server.host_name }} public_ip={{ server.host }} private_ip={{ server.private_ip }} volumes='{{ server.volumes | to_json }}'

{% endfor %}

[client_servers]
{% for server in client_servers %}
{{ server.host_name }} public_ip={{ server.host }} private_ip={{ server.private_ip }} volumes='{{ server.volumes | to_json }}'

{% endfor %}

[observability_servers]
{% for server in observability_servers %}
{{ server.host_name }} public_ip={{ server.host }} private_ip={{ server.private_ip }} volumes='[]'

{% endfor %}
